[Desktop Entry]
Encoding=UTF-8
Name=Link to PIC32CM MC00 CURIOSITY NANO EVALUATION KIT | Microchip Technology
Type=Link
URL=https://www.microchip.com/en-us/development-tool/ev10n93a
Icon=text-html
